.m-0 {
  margin: 0rem;
}

.p-0 {
  padding: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ms-0 {
  margin-left: 0rem;
}

.me-0 {
  margin-right: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.ps-0 {
  padding-left: 0rem;
}

.pe-0 {
  padding-right: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.m-1 {
  margin: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ms-1 {
  margin-left: 0.25rem;
}

.me-1 {
  margin-right: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.ps-1 {
  padding-left: 0.25rem;
}

.pe-1 {
  padding-right: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.m-2 {
  margin: 0.75rem;
}

.p-2 {
  padding: 0.75rem;
}

.mt-2 {
  margin-top: 0.75rem;
}

.mb-2 {
  margin-bottom: 0.75rem;
}

.ms-2 {
  margin-left: 0.75rem;
}

.me-2 {
  margin-right: 0.75rem;
}

.mx-2 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-2 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.pt-2 {
  padding-top: 0.75rem;
}

.pb-2 {
  padding-bottom: 0.75rem;
}

.ps-2 {
  padding-left: 0.75rem;
}

.pe-2 {
  padding-right: 0.75rem;
}

.px-2 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-2 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.m-3 {
  margin: 1rem;
}

.p-3 {
  padding: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ms-3 {
  margin-left: 1rem;
}

.me-3 {
  margin-right: 1rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.ps-3 {
  padding-left: 1rem;
}

.pe-3 {
  padding-right: 1rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-4 {
  margin: 1.25rem;
}

.p-4 {
  padding: 1.25rem;
}

.mt-4 {
  margin-top: 1.25rem;
}

.mb-4 {
  margin-bottom: 1.25rem;
}

.ms-4 {
  margin-left: 1.25rem;
}

.me-4 {
  margin-right: 1.25rem;
}

.mx-4 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-4 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.pt-4 {
  padding-top: 1.25rem;
}

.pb-4 {
  padding-bottom: 1.25rem;
}

.ps-4 {
  padding-left: 1.25rem;
}

.pe-4 {
  padding-right: 1.25rem;
}

.px-4 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-4 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.m-5 {
  margin: 1.5rem;
}

.p-5 {
  padding: 1.5rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.ms-5 {
  margin-left: 1.5rem;
}

.me-5 {
  margin-right: 1.5rem;
}

.mx-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pt-5 {
  padding-top: 1.5rem;
}

.pb-5 {
  padding-bottom: 1.5rem;
}

.ps-5 {
  padding-left: 1.5rem;
}

.pe-5 {
  padding-right: 1.5rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a.active {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
a.active::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 42%;
  background: #b21980;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.m-0 {
  margin: 0rem;
}

.p-0 {
  padding: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ms-0 {
  margin-left: 0rem;
}

.me-0 {
  margin-right: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.ps-0 {
  padding-left: 0rem;
}

.pe-0 {
  padding-right: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.m-1 {
  margin: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ms-1 {
  margin-left: 0.25rem;
}

.me-1 {
  margin-right: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.ps-1 {
  padding-left: 0.25rem;
}

.pe-1 {
  padding-right: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.m-2 {
  margin: 0.75rem;
}

.p-2 {
  padding: 0.75rem;
}

.mt-2 {
  margin-top: 0.75rem;
}

.mb-2 {
  margin-bottom: 0.75rem;
}

.ms-2 {
  margin-left: 0.75rem;
}

.me-2 {
  margin-right: 0.75rem;
}

.mx-2 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-2 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.pt-2 {
  padding-top: 0.75rem;
}

.pb-2 {
  padding-bottom: 0.75rem;
}

.ps-2 {
  padding-left: 0.75rem;
}

.pe-2 {
  padding-right: 0.75rem;
}

.px-2 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-2 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.m-3 {
  margin: 1rem;
}

.p-3 {
  padding: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ms-3 {
  margin-left: 1rem;
}

.me-3 {
  margin-right: 1rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.ps-3 {
  padding-left: 1rem;
}

.pe-3 {
  padding-right: 1rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-4 {
  margin: 1.25rem;
}

.p-4 {
  padding: 1.25rem;
}

.mt-4 {
  margin-top: 1.25rem;
}

.mb-4 {
  margin-bottom: 1.25rem;
}

.ms-4 {
  margin-left: 1.25rem;
}

.me-4 {
  margin-right: 1.25rem;
}

.mx-4 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-4 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.pt-4 {
  padding-top: 1.25rem;
}

.pb-4 {
  padding-bottom: 1.25rem;
}

.ps-4 {
  padding-left: 1.25rem;
}

.pe-4 {
  padding-right: 1.25rem;
}

.px-4 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-4 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.m-5 {
  margin: 1.5rem;
}

.p-5 {
  padding: 1.5rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.ms-5 {
  margin-left: 1.5rem;
}

.me-5 {
  margin-right: 1.5rem;
}

.mx-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pt-5 {
  padding-top: 1.5rem;
}

.pb-5 {
  padding-bottom: 1.5rem;
}

.ps-5 {
  padding-left: 1.5rem;
}

.pe-5 {
  padding-right: 1.5rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

body {
  --color: #000;
  --bg: #fff;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-family: "Montserrat", sans-serif;
}
.header .container {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 550;
  color: #000;
}
.header .container .logo img {
  height: 80px;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu button {
  font-size: 14px;
  font-weight: 550;
  color: #fff;
  background: #b21980;
  padding: 10px 15px;
  border-radius: 50px;
  transition: all 0.3s;
  cursor: pointer;
}
.header .menu button:hover {
  animation: scale(1.5);
  color: #b21980;
  background: #fff;
}
.header .menu .main_menu a {
  display: inline;
  color: black;
  margin-right: 45px;
  padding: 15px 0 !important;
}
.header .menu .main_menu a::after {
  bottom: -4px;
}
.header .menu .main_menu a:hover::after {
  bottom: -4px !important;
}
.header .menu .icon a {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 550;
  color: #000;
}

.about {
  background-image: url("../images/yellow_top_wave_01.png"), url("../images/Violet_top_left_wave.png");
  background-position: left top, right bottom;
  background-size: contain;
  background-repeat: no-repeat, no-repeat;
}
.about .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .container .content .info {
  align-items: center;
  justify-content: start;
}
.about .container .content .info p {
  font-size: 20px;
  font-weight: 400;
  color: #b21980;
}
.about .container .content .info h2 {
  font-size: 60px;
  font-weight: 700;
  color: #000;
}
.about .container .content .picture {
  height: 580px;
}

.information {
  background: #dcd1f0;
  background-image: url("../images/Wave_White_bottom_right_shape_01.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.information .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
  margin-bottom: 100px;
}
.information .container .card {
  border-radius: 20px;
  height: 362px;
  background-color: #fff;
}
.information .container .card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 100%;
  height: auto;
}
.information .container .card .detail {
  padding: 10px;
}
.information .container .card .detail h6 {
  font-size: 14px;
  font-weight: 400;
  color: #b21980;
}
.information .container .card .detail h2 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  padding: 20px;
}

.find {
  background: url("../images/accent_bottom_wave_01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 50px 0;
}
.find .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.find .container img {
  width: 80%;
}
.find .container .content {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}
.find .container .content h2 {
  margin-bottom: 50px;
}
.find .container .content .input {
  margin: 5px;
  width: 100%;
  border: none;
}
.find .container .content .input-container {
  border: solid 1px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.find .container .content .message {
  height: 80px;
}
.find .container .content .row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.find .container .content .row .input-row {
  border: solid 1px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.find .container .content .text {
  height: 100px;
}
.find .container .content button {
  width: 150px;
  font-size: 14px;
  font-weight: 550;
  color: #fff;
  background: #b21980;
  padding: 10px 15px;
  border-radius: 50px;
  transition: all 0.3s;
  cursor: pointer;
}
.find .container .content button:hover {
  animation: scale(1.5);
  color: #b21980;
  background: #fff;
}

footer {
  padding-top: 100px;
  height: 500px;
  color: white;
  background-image: url("../images/footer_background.jpg");
  background-position: bottom center;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container .address {
  display: flex;
}
footer .container .address i {
  padding: 10px;
}
footer .container .address span {
  padding: 10px;
}
footer .container a {
  color: #fff;
}
footer .container .list {
  display: flex;
  flex-direction: column;
}
footer .container .list .footer-link {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 10px;
  margin-top: 15px;
  transition: all 0.5s;
  cursor: pointer;
}
footer .container .list .footer-link:hover {
  color: gray;
}
footer .container .list .footer-link svg {
  margin-right: 5px;
}
footer .container p {
  padding: 50px;
}
footer .container button {
  width: 150px;
  font-size: 14px;
  font-weight: 550;
  color: grey;
  background: #fff;
  padding: 10px 15px;
  border-radius: 50px;
  transition: all 0.3s;
  cursor: pointer;
}
footer .container button:hover {
  animation: scale(1.5);
  color: #fff;
  background: #b21980;
}/*# sourceMappingURL=index.css.map */